/* CSS custom properties overrides (variables) */
:root {
  --primary-color-shade: #c73735;
  --primary-color-shade--light: #ffa3a1;
  --primary-color-shade--lighter: #e9adac;
  --primary-color-shade--lightest: #fee2c4;
  --primary-color-shade--dark: #860200;

  --seconday-color-shade: #531cb3;
  --seconday-color-shade--light: #a88dd8;
  --seconday-color-shade--lighter: #f5ebfc;
  --seconday-color-shade--dark: #290d59;

  --black-color: #000000;
  --white-color: #ffffff;
  --off-white-color: #f7f7f7;

  --dark-color-shade: #000428;
  --dark-color-shade--light: #2c2f3b;

  --success-color-shade: #57bd72;
  --success-color-shade--lightest: #d9ffe4;

  --warning-color-shade: #ffd873;
  --warning-color-shade--lightest: #fff1be;

  --info-color-shade--lightest: #81bdff;
  --aux-color-shade--lightest: #ecf5fe;

  --danger-color-shade: #ea4c5f;
  --danger-color-shade--lighter: #ffdbdb;

  --grey-color-shade: #616161;
  --grey-color-shade--light: #c4c4c4;
  --grey-color-shade--lighter: #efefef;
  --grey-color-shade--lightest: #fcfdff;
}
